@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.group:after {
  clear: both;
  content: "";
  display: table;
}
/*
.spacing( @type, @i: 1 ) when not ( @i > 3 ) {
    @interval: 1rem * @i;

    .@{type}-@{i} { @{type}: @interval !important; }
    .@{type}-top-@{i} { @{type}-top: @interval !important; }
    .@{type}-right-@{i} { @{type}-right: @interval !important; }
    .@{type}-bottom-@{i} { @{type}-bottom: @interval !important; }
    .@{type}-left-@{i} { @{type}-left: @interval !important; }

    .spacing( @type, ( @i + 1 ) );
}
.spacing( margin );
.spacing( padding );
*/
.inline-fix {
  font-size: 0;
}
.inline-fix > * {
  font-size: 1rem;
}
.list-unstyled,
.list-inline,
.five-star-rating,
.gallery__wrap,
.movie-detail__genre {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list-inline__item {
  display: inline-block;
}
.image-link {
  display: block;
}
.image--fluid {
  max-width: 100%;
  height: auto;
}
.text--wrap {
  word-break: keep-all;
}
.warning {
  color: #f0521d;
}
.ui-button-wrap {
  margin: 1rem 0;
  text-align: center;
}
.ui-button {
  background: transparent;
  border: 1px solid white;
  border-radius: 44px;
  color: white;
  display: inline-block;
  min-width: 140px;
  padding: 10px 20px 12px;
  height: 44px;
  text-align: center;
  font-size: 1rem;
  line-height: 18px;
  box-sizing: border-box;
  touch-action: manipulation;
}
.ui-input {
  background: #2c2f34;
  color: #8a9099;
  border: none;
  color: white;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
.ui-input-group {
  padding-top: 16px;
  position: relative;
}
.ui-input-placeholder {
  color: #a9a9aa;
  position: absolute;
  top: 27px;
  left: 1em;
  line-height: 14px;
  font-size: 14px;
  cursor: text;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.ui-input-placeholder--float {
  top: 0;
  left: 0;
  font-size: 12px;
}
.ui-select {
  background: #2c2f34 url(../img/icons/down-chevron.svg) no-repeat right 15px center;
  background-size: 10px 10px;
}
.ui-select:disabled {
  background: #2c2f34;
  color: #767677;
}
.ui-control {
  background: #2c2f34;
  color: #a9a9aa;
  margin: 4px 1px;
  padding: 0 10px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.hamburger {
  background: #2c2f34;
  color: #8a9099;
  border: none;
  color: white;
  height: 36px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  touch-action: manipulation;
}
.hamburger > span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  left: 2px;
}
.hamburger > span:first-child {
  top: 4px;
}
.hamburger > span:nth-child(2) {
  top: 11px;
}
.hamburger > span:nth-child(3) {
  top: 18px;
}
.hamburger--inverse > span {
  background: white;
}
.text-collapsed .is-collapsed {
  display: none;
}
.text-collapsed.is-expanded .ellipsis,
.text-collapsed.is-expanded .read-more {
  display: none;
}
.text-collapsed.is-expanded .is-collapsed {
  display: initial;
}
.five-star-rating {
  display: inline;
  font-size: 0;
}
.five-star-rating > * {
  font-size: 1rem;
}
.five-star-rating li {
  display: inline;
}
.five-star-rating li:before {
  content: "★";
  color: #484c54;
}
.five-star-rating li.is-active:before {
  color: #f0c91e;
}
.five-star-rating.dynamic {
  cursor: pointer;
  touch-action: manipulation;
}
.five-star-rating.dynamic.submitted {
  cursor: default;
  touch-action: none;
}
.numbered-rating {
  color: #f0c91e;
  margin-left: .5em;
}
.graph {
  display: table;
  border-collapse: collapse;
  empty-cells: show;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 .5rem;
  padding: 0 !important;
}
.graph__child {
  display: table-cell;
  height: 1.6em;
  vertical-align: middle;
}
.graph__track {
  background: #585d66;
  display: block;
  margin: .5em 0;
  height: .6em;
}
.graph__track:after {
  clear: both;
  content: "";
  display: table;
}
.graph__track:after {
  clear: both;
  content: "";
  display: table;
}
.graph__thumb {
  background: #00aeef;
  display: block;
  height: .6em;
  float: left;
}
.graph__caption {
  color: white;
  white-space: nowrap;
}
.tag {
  background: #2c2f34;
  border-radius: .5em;
  color: #a9a9aa;
  margin: 0 .2em .2em 0;
  padding: .15em .45em;
  display: inline-block;
  float: left;
  font-size: .85rem;
}
.gallery__wrap {
  white-space: nowrap;
}
.gallery__item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
@media only screen and (max-width: 480px) {
  .gallery__item {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .gallery__item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 801px) {
  .gallery__item {
    width: 200px;
  }
}
.gallery__item > figure {
  margin: 0 15px 0 0;
}
.gallery__item__link {
  display: block;
}
.gallery__item__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.gallery__item__caption {
  margin-top: 10px;
}
.gallery__item__caption dt {
  line-height: 1.4;
  word-break: keep-all;
}
.gallery__item__caption dd {
  margin-top: .25em;
}
.read-more {
  color: #00aeef;
}
/*===================================================
  기초설정
  ===================================================*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html,
body {
  /* font-family: sans-serif; 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  /* color: inherit; 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: border-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* 루트 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
body {
  background: #1f2124;
  color: #a9a9aa;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  line-height: 1.6;
  font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, "Malgun Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tab-highlight-color: #a9a9aa;
}
/* 헤딩 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0 0 1rem;
  font-weight: normal;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.375rem;
}
h3 {
  font-size: 1.125rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
/* 문단 */
p {
  margin: .5rem 0;
}
/* 정의 */
dl {
  margin: 0;
}
dt {
  color: white;
}
dd {
  margin-left: 0;
}
/* 강조색 */
th {
  color: white;
  font-weight: normal;
}
a {
  color: white;
  text-decoration: none;
}
strong,
em {
  color: white;
}
/* 컨텐츠 블럭 */
figure {
  margin: 0;
}
/* 텍스트에리어 */
textarea {
  width: 100%;
  resize: vertical;
}
input[type="text"],
input[type="password"] {
  appearance: none;
}
/* 라디오 버튼 */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  height: 20px;
  padding-left: 24px;
  position: relative;
  vertical-align: middle;
  line-height: 20px;
}
input[type="radio"] + label::before,
input[type="radio"] + label::after {
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
}
input[type="radio"] + label::before {
  background: #8a9099;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
}
input[type="radio"] + label::after {
  background: #2c2f34;
  width: 6px;
  height: 6px;
  top: 7px;
  left: 5px;
  visibility: hidden;
}
input[type="radio"]:checked + label::after {
  visibility: visible;
}
/*===================================================
  그리드 레이아웃
  ===================================================*/
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.col-holder {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.col-holder:after {
  clear: both;
  content: "";
  display: table;
}
.col-holder:after {
  clear: both;
  content: "";
  display: table;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  float: left;
  padding-left: 5px !important;
  padding-right: 5px !important;
  position: relative;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.offset-12 {
  margin-left: 100%;
}
@media screen and (max-width: 543px) {
  .container {
    width: auto;
  }
}
@media screen and (min-width: 544px) and (max-width: 767px) {
  .container {
    width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
/*===================================================
  커스텀 스타일링
  ===================================================*/
/* 헤더
 --------------------------------------------------*/
.header {
  background: #1f2124;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 100;
}
.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.header__masthead {
  float: left;
  padding: 18px 0 0;
  width: 100px;
}
.header__menu {
  float: left;
}
.header__home {
  float: left;
  margin-left: .75rem;
  line-height: 24px;
  font-size: 1.1rem;
}
.header__search {
  margin-left: 100px;
  padding: 12px 0 0;
  position: relative;
}
.header__search .ui-input {
  width: 100%;
}
.header__search .input-placeholder {
  color: #8a9099;
  position: absolute;
  top: 12px;
  left: 10px;
  line-height: 36px;
  cursor: text;
}
.input:focus + .header__search .input-placeholder {
  display: none;
}
/* 메인 컨텐츠
 --------------------------------------------------*/
.content {
  padding: 80px 0 20px;
  /* 80px -> 헤더 60px + 안쪽 패딩 20px */
}
.content__heading {
  margin: 0 0 1.5rem;
}
.content__heading h1 {
  margin: 0;
}
.content__heading p {
  margin: 0;
}
.content__section {
  margin-bottom: 4rem;
}
/* 메인 컨텐츠 // 영화목록
 --------------------------------------------------*/
/* 영화목록 갤러리 */
.gallery--movies .gallery__item__rating {
  color: #f0c91e;
}
.gallery--movies .gallery__item__rating.unrated {
  color: #8a9099;
}
.gallery--movies .gallery__item__rating i + span {
  margin-left: .25em;
}
.gallery--movies .gallery__item__release {
  font-size: 13px;
}
.gallery__control {
  font-size: 0;
}
.gallery__control > * {
  font-size: 1rem;
}
.gallery__control button {
  margin: 0 .25rem .25rem 0;
  touch-action: manipulation;
}
.gallery__control button.selected {
  background: #00aeef;
  color: white;
  touch-action: none;
}
/* 메인 컨텐츠 // 영화 상세정보
 --------------------------------------------------*/
/* 영화 기본정보 */
.movie-detail__primary {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 1rem;
  float: left;
}
.movie-detail__title {
  margin: 0;
}
.movie-detail__genre {
  font-size: 0;
}
.movie-detail__genre > li {
  display: inline-block;
  font-size: 1rem;
}
.movie-detail__genre > li + li::before {
  content: "|";
  margin: 0 .5em;
}
.movie-detail__rating .tip {
  background: #36383a;
  border-radius: .25em;
  color: white;
  padding: .2em .25em;
}
.movie-detail__secondary {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 1rem;
  float: right;
  text-align: right;
}
.movie-detail__synopsis {
  clear: both;
}
/* 좌석 찾기 */
.seat__seek__fieldset {
  margin: 0 0 1rem;
}
.seat__seek__fieldset .ui-input {
  box-sizing: border-box;
  width: 100%;
}
/* 감독, 출연진 */
/* 통계기록 */
/* 관람후기 */
.user-comments {
  margin: 0 0 .5rem;
}
.leave-comment {
  margin: 2rem 0;
}
.leave-comment__field {
  height: 3.5em;
  padding: .5em;
  line-height: normal;
}
/* 메인 컨텐츠 // 영화 좌석예매
 --------------------------------------------------*/
.order-preview:after {
  clear: both;
  content: "";
  display: table;
}
.order-preview:after {
  clear: both;
  content: "";
  display: table;
}
.order-preview__thumb .image-link {
  width: calc(100% - 20px);
}
.order-preview__quantity {
  max-width: 15em;
}
.order-preview__total {
  display: block;
  margin: .5rem 0;
  font-size: 1.375rem;
}
.order-whereto > .group {
  display: table;
  width: 100%;
}
.order-whereto > .group > div {
  display: table-cell;
  vertical-align: middle;
}
.order-whereto__label {
  margin: 1rem 0 0;
}
.order-whereto__punctuation {
  width: 1.5em;
  text-align: center;
}
.order-whereto .ui-input {
  width: 100%;
}
.order-whereto__field--phone1 {
  width: 25%;
}
.order-whereto__field--email2 {
  width: 30%;
}
.order-whereto__field--select {
  padding-left: .5rem;
  width: 8em;
}
.order-terms {
  margin: 1rem 0;
}
/* 푸터
 --------------------------------------------------*/
.footer__copyright {
  text-align: center;
}
.footer__menu {
  text-align: center;
}
.footer__menu .list-inline__item + .list-inline__item {
  margin-left: 1rem;
}
.footer__social {
  margin: 1rem 0;
  text-align: center;
}
.footer__social__icon {
  width: 32px;
  height: 32px;
  margin: 0 .5rem;
}
/* 사이드바
 --------------------------------------------------*/
.sidebar {
  background: #2c2f34;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 30px;
  width: 300px;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  left: -300px;
  bottom: 0;
  z-index: 200;
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
  transition: all 0.3s ease-out;
  transition-property: -webkit-transform, -ms-transform, transform;
  -webkit-overflow-scrolling: touch;
}
.sidebar.open {
  transform: translate3d(100%, 0, 0);
}
.sidebar__account .list-inline__item {
  width: 50%;
}
.sidebar__menuset {
  margin: 40px 0;
}
.sidebar__menuset h2 {
  color: #a9a9aa;
  margin: 0 0 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
}
.sidebar__menuset li i + span {
  margin-left: .75em;
}
.sidebar__menuset li + li {
  margin-top: 1.5rem;
}
