@charset "UTF-8";

/* 헤더
 --------------------------------------------------*/
.header {
    background: @raisin-black;
    box-shadow: 0 2px 5px rgba(0,0,0,.12);
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 100;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    &__masthead {
        float: left;
        padding: 18px 0 0;
        width: 100px;
    }

    &__menu {
        float: left;
    }

    &__home {
        float: left;
        margin-left: 15px;
        line-height: 24px;
        font-size: large;
    }

    &__search {
        margin-left: 100px;
        padding: 12px 0 0;
        position: relative;

        .ui-input {
            width: 100%;
        }

        .input-placeholder {
            color: @roman-silver;
            position: absolute;
            top: 12px;
            left: 10px;
            line-height: 36px;
            cursor: text;

            .input:focus + & {
                display: none;
            }
        }
    }
}

/* 메인 컨텐츠
 --------------------------------------------------*/
.content {
    padding: 80px 0 20px; /* 80px -> 헤더 60px + 안쪽 패딩 20px */

    &__heading {
        margin: 0 0 20px;

        h1 {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    &__section {
        margin-bottom: 60px;
    }
}


/* 메인 컨텐츠 // 영화목록
 --------------------------------------------------*/
.movielist {
    .gallery__item {
        width: 140px;
    }
}


/* 메인 컨텐츠 // 영화 상세정보
 --------------------------------------------------*/

/* 영화 기본정보 */
.movie-detail {
    // 대표 이미지
    &__thumb {
        position: relative;
    }

    // 트레일러 보기
    #showTrailer {
        position: absolute;
        right: 16px;
        bottom: 16px;

        &::before {
            border-color: transparent transparent transparent #ffffff;
            border-style: solid;
            border-width: 6px 0 6px 10px;
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: .5em;
            vertical-align: middle;
            position: relative;
            top: -.1em;
            content: "";
        }
    }

    // 장르, 러닝타임
    &__primary {
        margin-bottom: 10px;
        float: left;
    }

    // 평점, 이용가
    &__secondary {
        margin-bottom: 10px;
        float: right;
        text-align: right;
    }

    &__genre {
        .list-inline();
        font-size: 0;

        > li {
            .list-inline__item();
            font-size: @base-font-size;

            + li::before {
                content: "|";
                margin: 0 .5em;
            }
        }
    }

    &__rating {
        .tip {
            background: @onyx;
            border-radius: .25em;
            color: white;
            display: inline-block;
            padding: .2em .25em;
        }
    }

    &__synopsis {
        clear: both;
    }
}

/* 좌석 찾기 */
.seat__seek {
    &__fieldset {
        margin: 0 0 15px;

        .ui-input {
            box-sizing: border-box;
            width: 100%;
        }
    }
}

/* 감독, 출연진 */
.cast-info {
    .gallery__item {
        width: 100px;
        
        @media only screen {
            @media (min-width: 481px) {
                width: 120px;
            }
        }
    }
}

/* 통계기록 */
.statistics {
}

/* 관람후기 */
.user-comment {
    margin: 0 0 1em;

    &__head {

    }

    &__body {
        margin: 0;
    }
}

.leave-comment {
    margin: 2rem 0;

    &__field {
        height: 4em;
        padding: .5em;
        line-height: normal;
    }
}

/* 메인 컨텐츠 // 영화 좌석예매
 --------------------------------------------------*/
.order-preview {
    .group();

    &__thumb {
        float: left;
        width: 160px;
    }

    &__info {
        margin-left: 180px; // 160px(image) + 20px(margin)
    }

    &__total {
        display: block;
        margin: 10px 0;
        font-size: x-large; // = h2
    }
}

.order-whereto {
    > .group {
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &__label {
        margin: 15px 0 0;
    }

    &__punctuation {
        width: 1.5em;
        text-align: center;
    }

    .ui-input {
        width: 100%;
    }
}

.order-whereto__field--phone1 {
    width: 25%;
}

.order-whereto__field--email2 {
    width: 30%;
}

.order-whereto__field--select {
    padding-left: 7px;
    width: 8em;
}

.order-terms {
    margin: 15px 0;
}

/* 푸터
 --------------------------------------------------*/
.footer {
    &__copyright {
        text-align: center;
    }

    &__menu {
        text-align: center;

        .list-inline__item {
            & + .list-inline__item {
                margin-left: 15px;
            }
        }
    }

    &__social {
        margin: 15px 0;
        text-align: center;

        &__icon {
            width: 32px;
            height: 32px;
            margin: 0 7px;
        }
    }
}


/* 사이드바
 --------------------------------------------------*/
.sidemenu {
    background: @gunmetal;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    padding: 30px;
    width: 300px;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    left: -300px;
    bottom: 0;
    z-index: 200;
    transition: left .3s ease-out;
    -webkit-overflow-scrolling: touch;

    &--open {
        left: 0;
    }

    &__account {
        .list-inline__item {
            width: 50%;
        }
    }

    &__menuset {
        margin: 40px 0;

        h2 {
            color: @medium-gray;
            margin: 0 0 10px;
            font-family: inherit;
            font-size: @base-font-size;
            font-weight: normal;
        }

        li {
            i + span {
                margin-left: .75em;
            }

            & + li {
                margin-top: 15px;
            }
        }
    }
}